<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBf4nPT4I_UDFNmSNy2siA9hLQf69yf0gs</string>
	<key>GCM_SENDER_ID</key>
	<string>251779563420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pedram.interwidget</string>
	<key>PROJECT_ID</key>
	<string>enigma-plus</string>
	<key>STORAGE_BUCKET</key>
	<string>enigma-plus.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251779563420:ios:92a815c03b2cf88d71d259</string>
</dict>
</plist>